section#gallery{
    position: fixed; top: 0; left: 0;  width: 100%; 
    height: 100%; visibility: hidden;
}
section#gallery > .img-wrap {
    position: absolute; left: 50%; transform: translate(-50%, 0);
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
}
section#gallery > .img-wrap > .img-line {
    width: 900px; height: 240px; margin: 10px; display: flex; align-items: center; justify-content: center;
}

section#gallery > .img-wrap > .img-line > img {height: 240px; margin: 10px;}