@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  height: 2000px;
}
h1 {
  color: #333;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}
